<div class="footer">
  <span>Posted by: Arun kumar</span>
  <span>Contact information: <a href="mailto:aruncourage.com">aruncourage@gmail.com</a>.</span>
  <span><strong>Note:</strong> The footer tag is not supported in Internet Explorer 8 and earlier versions.</span>
</div>