<div class="row">
  <header class="header">
    <div class="header_inner">
      <div class="headerleft"> <a href="https://www.ge.com/" title="GE Demo">
        <img src="../assets/ge.png"
            alt="Ge" itemprop="image" scale="0" height="70px"></a> 
          </div>
    </div>
  </header>
</div>
<div class="wrapper">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <router-outlet></router-outlet>
  </div>
</div>