.wrapper{
    width: 100%;
    float: left;
    height: 100vh;
}
.main-panel {
    float: left;
    width: 82%;
    height: 100%;
    max-height: 100%;
}
.sidebar{
    width: 18%;
    float: left;
    background-color: #ff3636;
    height: 100%;
    max-height: 100%;
}
.header {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    height: 70px;
    z-index: 99999;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.25);
    color: #fff;
    top: 0;
}
.header_inner { 
    width: 100%;
    margin: 0 auto;
}
