<div class="sidebar-wrapper">
    <ul class="nav">
        <li *ngFor="let item of items" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="{{item.routerLink}}" class="nav-link">
            <a>
                {{item.label}}
            </a>

        </li>
    </ul>
</div>