ul {
    padding: 0;
}

li {
    list-style: none;
    margin: 15px;
    padding: 10px 20px; 
    border-radius: 30px;
    a {
        text-decoration: none;
        color: white;
    }
}
li.active {
    background-color: white;
    a {
        color: #ff3636;
    }
}

li:hover {
    background-color: #f79090;
}

li:focus {
    outline: none;
}

