.column {
    float: left;
    width: 47.33%;
    padding: 15px;
    h1{
        color:yellowgreen;
    }
    .chart-content section {
        font-size: 16px;
        font-family: cursive;
        div {
            margin: 5px;
            text-indent: 150px;
        }
    }
  }