.head{
    width: 100%;
}
.card-header button {
    width: 100%;    
    height: 25px;
}
/deep/ .card-header button {
    font-size: 33px;
    font-family: cursive;
    color: blueviolet;
    width: 100%;
    height: 50px;
}
.column {
    float: left;
    width: 47.33%;
    padding: 15px;
    h1{
        color:yellowgreen;
    }
    .chart-content section {
        font-size: 16px;
        font-family: cursive;
        div {
            margin: 5px;
            text-indent: 150px;
        }
    }
  }