<div class="head">
  <ngb-accordion [closeOthers]="true" activeIds="static-1">
    <ngb-panel id="static-1" title="Pie Chart">
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="column">
            <plotly-plot [data]="pieChart" [layout]="layout"></plotly-plot>
          </div>
          <div class="column">
            <div class="chart-content">
              <h1>Bar Chart</h1>
              <section>
                <div>
                  A bar chart or bar graph is a chart or graph that presents categorical data with rectangular bars
                  with heights or lengths proportional to the values that they represent. The bars can be plotted
                  vertically or horizontally. A vertical bar chart is sometimes called a line graph.
                </div>
                <div>
                  A bar chart or bar graph is a chart or graph that presents categorical data with rectangular bars
                  with heights or lengths proportional to the values that they represent. The bars can be plotted
                  vertically or horizontally. A vertical bar chart is sometimes called a line graph.
                </div>
              </section>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="static-2" title="Bar Chart">
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="column">
            <plotly-plot [data]="barChart" [layout]="layout"></plotly-plot>
          </div>
          <div class="column">
            <div class="chart-content">
              <h1>Pie Chart</h1>
              <section>
                <div>
                  A pie chart is a circle ("pie") that is divided into segments ("slices") to represent the
                  proportion of
                  observations that are in each category. When you interpret one pie chart, look for differences in the
                  size of the slices.
                  The size of a slice shows the proportion of observations that are in that group
                </div>
                <div>
                  The polar area diagram is similar to a usual pie chart, except sectors have equal angles and differ
                  rather in how far each sector extends from the center of the circle. The polar area diagram is used
                  to plot cyclic phenomena (e.g., counts of deaths by month). For example, if the counts of deaths in
                  each month for a year are to be plotted then there will be 12 sectors (one per month) all with the
                  same angle of 30 degrees each. The radius of each sector would be proportional to the square root of
                  the death count for the month, so the area of a sector represents the number of deaths in a month. If
                  the death count in each month is subdivided by cause of death, it is possible to make multiple
                  comparisons on one diagram, as is seen in the polar area diagram famously developed by Florence
                  Nightingale.
                </div>
              </section>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>